# Terraform local state and secrets
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
**/terraform.tfvars
*.tfplan
**/*.tfplan
.env
terraform.tfstate*
*.tfplan
tfplan
